.quotes {
    width: 47.5%;

    div {
        padding: 2.5% 10px;
    }

    .selection:hover {
        background-color: rgb(230, 230, 230);
        cursor: pointer;
    }

    &>*:nth-child(odd) {
        background-color: rgb(240, 240, 240);
    }
}

.selected-quote {
    width: 47.5%;

    .analysis {
        margin-top: 50px
    }

    button {
        padding: 10px;
        background-color: green;
        color: white;
        border: none;
        margin: 50px 0px;
    }
}